
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #FFF8F0;
            color: #333;
        }

        header {
            background: #FFD6E8 0%;
            padding: 1.5em;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            top: 0;
        }

        nav {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }

        .logo {
            font-size: 1.8rem;
            font-weight: bold;
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
        }

        .nav-links {
            display: flex;
            gap: 2.5rem;
            align-items: center;
        }

        .nav-links a {
            color: #D63384;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .nav-links a:hover {
            color: #FF1493;
        }

        .hero {
            max-width: 1200px;
            margin: 0 auto;
            padding: 4rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .hero-content {
            flex: 1;
        }

        .hero-content h1 {
            font-size: 3rem;
            color: #fd3da3;
            margin-bottom: 1rem;
        }

        .hero-content h2 {
            font-size: 1.5rem;
            color: #FF69B4;
            margin-bottom: 2rem;
        }

        .hero-content p {
            font-size: 1.1rem;
            line-height: 1.8;
            color: #555;
            margin-bottom: 2rem;
        }
        .photo-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .photo-wrapper {
            position: relative;
            width: 350px;
            height: 350px;
        }


        .photo-wrapper img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid white;
            box-shadow: 0 10px 30px rgba(255, 105, 180, 0.3);
        }

        footer {
            background: #FFD6E8 0%;
            padding: 2rem;
            text-align: center;
            margin-top: 4rem;
        }

        footer p {
            color: #D63384;
            font-size: 1rem;
        }


        /* education and project*/

        .page-title{
            margin-top:2rem;
            margin-bottom: 3rem;
            text-align: center;
            color: #D63384;
        }
        .education, .project-card {
            background: white;
            padding: 2rem;
            border-radius: 10px;
            border-left: 5px solid #FF69B4;
            color: #e46ea9;
            font-size: 1.5rem;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 2rem;
            
        }

        .education .year {
            color: #FF69B4;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .education p, .project-card p {
            color: #555;
            line-height: 1.6;
        }

        .project-card .tech-stack {
            margin-top: 1rem;
            color: #FF69B4;
            font-weight: 500;
        }

       

